# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Other\Кирилл\Сайт\МОИ САЙТЫ\OpenServer\OSPanel\domains\oooddx.loc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
